@import url('fonts.css');
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  height: 1080px;
  width: 1920px;
  font-family: "Figtree", sans-serif;
}

.container {
  display: grid;
  gap: 60px;
  grid-template-columns: 6fr 8fr;
  height: 1080px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 1080px;
  padding: 5rem 0;
}

.left {
  align-items: flex-end;
  justify-self: flex-end;
}
.right {
  align-items: flex-start;
  justify-self: flex-start;
}

.name {
  --display: none;
  font-size: 32px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(45deg, #a9021f, #ff0000 100%);
  color: white;
  border-radius: 1rem;
  width: max-content;
  position: relative;
}

.spring .name {
  background-image: linear-gradient(45deg, #02a90a, #00ff4c 100%);
}

.summer .name {
  background-image: linear-gradient(45deg, #ffe259, #ffa751 100%);
}

.autumn .name {
  background-image: linear-gradient(45deg, #ff8e32, #cf6c09 100%);
}

.left .name::before {
  content: "🌴";
  font-size: 42px;
  position: absolute;
  left: -2rem;
  top: 0;
  transform: rotate(-15deg);
  display: var(--display);
}

.right .name::after {
  content: "🍺";
  font-size: 42px;
  position: absolute;
  right: -2rem;
  top: 0;
  transform: rotate(15deg);
  display: var(--display);
}

.left .name[data-wfh]::after {
  content: "🍂";
  font-size: 42px;
  position: absolute;
  right: -26px;
  top: 0;
  transform: rotate(15deg);
  display: block;
}

.right .name[data-wfh]::before {
  content: "🍹";
  font-size: 42px;
  position: absolute;
  left: -32px;
  top: 0;
  transform: rotate(-15deg);
  display: block;
}

.mb {
  margin-bottom: 20rem;
}

.mb-lesser {
  margin-bottom: 11rem;
}

h1 {
  position: absolute;
  right: 3rem;
  bottom: 16rem;
  font-size: 3.5rem;
  color: #fff6a9;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

h1 span {
  font-family: "Tilt Neon", cursive;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #fff6a9;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #fff6a9;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  }
}
