* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  height: 1080px;
  width: 1920px;
  font-family: "Figtree", sans-serif;
}

.container {
  display: grid;
  gap: 60px;
  grid-template-columns: 6fr 8fr;
  height: 1080px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1080px;
  padding: 5rem 0;
}

.left {
  align-items: flex-end;
  justify-self: flex-end;
}
.right {
  align-items: flex-start;
  justify-self: flex-start;
}

.name {
  --display: none;
  font-size: 32px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(45deg, #a9021f, #ff0000 100%);
  color: white;
  border-radius: 1rem;
  width: max-content;
  position: relative;
}

.left .name::before {
  content: "❄️";
  font-size: 42px;
  position: absolute;
  left: -2rem;
  top: 0;
  transform: rotate(-15deg);
  display: var(--display);
}

.right .name::after {
  content: "❄️";
  font-size: 42px;
  position: absolute;
  right: -2rem;
  top: 0;
  transform: rotate(15deg);
  display: var(--display);
}

.left .name[data-wfh]::after {
  content: "🎄";
  font-size: 42px;
  position: absolute;
  right: -26px;
  top: 0;
  transform: rotate(15deg);
  display: block;
}

.right .name[data-wfh]::before {
  content: "🎄";
  font-size: 42px;
  position: absolute;
  left: -32px;
  top: 0;
  transform: rotate(-15deg);
  display: block;
}
